# From the repo root
micromamba create -n foodsec_py311 -c conda-forge \
  python=3.11 \
  statsforecast \
  pandas \
  numpy \
  scikit-learn \
  xgboost \
  streamlit \
  mlflow \
  pyarrow \
  statsmodels

micromamba activate foodsec_py311
